TELEGRAM_BOT_TOKEN=YOUR_TOKEN
GOOGLE_SERVICE_ACCOUNT_JSON={...}
SPREADSHEET_ID=1uKVO5PFH_-vO5ZBr-GUJRUlfC0a1uw-iJaxxu2BsOfM
SUPPORT_USERNAME=@yourusername
CHANNEL_URL=https://t.me/yourchannel
ADMIN_IDS=123456789
